public-hoist-pattern[]=*@heroui/*
package-lock=true
@awesome.me:registry=https://npm.fontawesome.com/
@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=E3EF1B3E-4A57-4C5C-A151-242FDE41E51A